{% extends 'homepage/layout.html' %}
{% load static %}
{% block title %} Tentang {% endblock %}
{% block content %}
<!-- Content here -->
<br>
<br>
<br>
<div class="container p-5" >
  <!-- Content here -->
  <!-- <div class="left" >
  </div> -->
  
  <div class="container" >
    <div class="container" >
      
    </div>
    <div  class="row" >
      <div id="kiri" class="col-5 back-blue me-4 p-5 " style="height: 800px; width: 300px;background-color: #012970; color: #fff;"  >
        <img src="{% static 'img/IMG_1.jpg' %}" class="lingkaran"  alt="" gagal  >
        <br>
        <br>
        <br>
        TELEPON <BR>
          0811 1144 3322 <BR> <BR>
        EMAIL <BR>
        Bosq@gmail.com  <BR> <BR>
        ALAMAT  <BR>
        Kos home rei, Jl. Perjuangan 1 <BR><BR>

        <hr><BR>
        <b>ASAL SEKOLAH</b><br>
        SMP<br>
        SMPN 5 BALIKPAPAN<br><br>
        SMA<br>
        SMAN 5 BALIKPAPAN<br>
      </div>
      <div id="kanan" class="col back-blue me-4 p-5" style="background-color: #012970; color: #fff;">
        <h1>ANANDITA AGUNG NUGRAHA<br></h1>
        <h1>2209106042<br></h1>
        <br>
        <h2>KOTA ASAL<br></h2>
        <h2>Balikpapan, Kalimantan Timur</h2>
        <br>
        <hr>
        <h1>Keahlian</h1>
      Python
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">15%</div>
      </div>
      <br>
      C++
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">10%</div>
      </div>
      <br>
      Editing
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 5%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">5%</div>
      </div>
        </div>
        </div>


        <footer id="footer" class="footer center" style="background-image: url('{% static 'img/footer-bg.png' %}'); background-size: cover; background-position: center;">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-12 text-center">
                <h1 class="logo d-flex align-items-center justify-content-center" style="color: #012970;">BOSQ</h1>
                <p>BOSQ sistem pendataan karyawan yang ramah pengguna, mudah digunakan, ANTI RIBET</p>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-5 col-md-12 footer-info text-center">
                <h4>Useful Links</h4>
                <ul style="list-style: none; padding: 0; color: #012970;">
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About Me</a></li>
                </ul>
              </div>
              <div class="col-lg-5 col-md-12 footer-contact text-center">
                <h4>Contact Us</h4>
                <p style="color: #012970;">
                  No.100 Rt.100 Gg.Pengguna Baru <br>
                  Balikpapan, 76115<br>
                  Indonesia <br><br>
                  <strong>Phone:</strong> 0811 1144 3322<br>
                  <strong>Email:</strong> Bosq@gmail.com<br>
                </p>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-12 text-center">
                <div class="copyright">
                  &copy; Copyright <strong><span></span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                  Designed by Anandita
                </div>
              </div>
            </div>
          </div>
        </footer>
{% endblock %} 