
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="page">
            <div class="container">
    <div class="left">
      <div class="login">Login</div>
      </div>
    <div class="right">
      <div class="form">
        <form action="" method="POST" enctype="multipart/form-data">

        <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <input type="submit" name="login" value="Submit">
            <!-- <button type="submit" id="submit">Login</button> -->
        </form>

      </div>
    </div>
  </div>
</div>
</form>


</body>
</html>

